<h1>All Messages Around User</h1>
<p>The header should contain the logged-in user's gravatar, summary, and logout button on the far right</p>
<p>Here we'll show all other users, their summary, and message listed and paginated.</p>


