<h1>New Message Form</h1>
<p>Here's where we'll let the user enter his address, a summary, and message and, once created, we'll redirect him to a page showing everyone's messages that are around him.</p>
