
<table>

<tr>
      <td rowspan="2"><%= image_tag gravatar_hash %><br><%= @user.name %></td>
     <td><%= message.summary %></td>
     <!-- <td>Distance</td> -->

   </tr>
   <tr>
    <td><%= message.content %></td>
<!--     PUT DISTANCE COMPARISION FROM BELOW, HERE -->
  </tr>
<% end %>
</table>
